
{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2> Live Auctions</h2>
        </div>
        <div class="row">
            
            {% for d in data%}
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic"  style="flex-grow: 1; height: 25rem; object-fit:contain; background-color: #100000;">
                       <a href="product?id={{d.product_id}}"> 
                           <img src="media/{{d.product_image }}" alt="">
                       </a>
                        <div class="pi-links">
                            <a href="product?id={{d.product_id}}" class="add-card"><i class="flaticon-bag"></i><span>Place Bid</span></a>
                            <a href="addWatchList?id={{d.product_id}}" class="add-card"><i class="flaticon-heart"></i><span>+ Watchlist </span></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>B-${{d.base_price}}</h6>
                        <h6>H-${{d.high_price}}</h6>
                        <p>{{d.product_name}} </p>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
{% endblock %}