

{% extends 'base.html' %}
{% load static %}
{% block body %}

	<!-- Contact section -->
	<section class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 contact-info">
					<h3>Get in touch</h3>
					<p>AB lane no 23, Indore</p>
					<p>+91 6787788XXX </p>
					<p>Devloper - Lalit Patidar </p>
					<p>ITEss@yahooo.com</p>
					<div class="contact-social">
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
					<form class="contact-form">
						<input type="text" placeholder="Your name">
						<input type="text" placeholder="Your e-mail">
						<input type="text" placeholder="Subject">
						<textarea placeholder="Message"></textarea>
						<button class="site-btn">SEND NOW</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

	{% endblock %}


