{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="{% static 'image/bg2.JPG' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>New Auctions</span>
                        <h2>cars and many more</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis. </p>

                    </div>
                </div>
                <div class="offer-card text-white">
                    <span> from </span>
                    <h2>0-M</h2>
                    <p>Place bid</p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="{% static 'image/bg1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>New Auctions</span>
                        <h2>cars and many more</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>
<!-- Hero section end -->



<!-- Features section -->
<section class="features-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="{% static 'image/icons/1.png' %}" alt="#">
                    </div>
                    <h2> Secure Payments</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="{% static 'image/icons/2.png' %}" alt="#">
                    </div>
                    <h2>At your price</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="{% static 'image/icons/3.png' %}" alt="#">
                    </div>
                    <h2>Direct sell</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->


<!-- letest product section -->
<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>Latest Auction</h2>
        </div>
        <div class="product-slider owl-carousel">
            {% for d in data%}
            <div class="product-item">
                <div class="pi-pic" style="flex-grow: 1; height: 25rem; object-fit:contain; background-color: #100000;">
                    <a href="product?id={{d.product_id}}">
                        <img src="media/{{d.product_image }}" alt="">
                    </a>
                    <div class="pi-links">             
                        <a href="product?id={{d.product_id}}" class="add-card"><i class="flaticon-bag"></i><span>Place Bid</span></a>
                        <a href="addWatchList?id={{d.product_id}}" class="add-card" ><i class="flaticon-heart"></i><span>+ Watchlist </span></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>B-${{d.base_price}}</h6>
                    <h6>H-${{d.high_price}}</h6>
                    <p>{{d.product_name}} </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- letest product section end -->



<!-- Product filter section -->
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2> Selled Product</h2>
        </div>
        <div class="row">
            {% for d in datasold %}
            <div class="col-lg-3 col-sm-6">

                <div class="product-item">
                    <div class="pi-pic"
                        style="flex-grow: 1; height: 25rem; object-fit:contain; background-color: #100000;">
                        <a href="product?id={{d.product_id}}">
                            <img src="media/{{d.product_image}}" alt="">
                        </a>
                    </div>
                    <div class="pi-text">
                        <h6>B-${{d.base_price}}</h6>
                        <h6>sold At ${{d.high_price}}</h6>
                        <p>{{d.product_name}} </p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
