{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="cart-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="cart-table">
					<h3>My bids result </h3>
					<div class="cart-table-warp">
						<table>
							<thead>

								<tr>
									<th class="product-th">Product</th>
									<th class="quy-th">Base price</th>
									<th class="size-th"> your price </th>
									<th class="total-th"> sold at </th>
									<th class="total-th"> sold to </th>
									<th class="total-th">contact to seller </th>

								</tr>
							</thead>
							<tbody>
								{% for d in data %}
								<tr>
									<td class="product-col">
										<a href="product?id={{d.product_id.product_id}}">
											<img src="media/{{d.product_id.product_image }}" alt="">
										</a>
										<div class="pc-title">
											<a href="product?id={{d.product_id.product_id}}">
												<h4>{{d.product_id.product_name}}</h4>
											</a>
										</div>
									</td>
									<td class="total-col">
										<h4>${{d.product_id.base_price}}</h4>
									</td>
									<td class="size-col">
										<h4>${{d.my_price}}</h4>
									</td>
									<td class="size-col">
										<h4>${{d.product_id.high_price}}</h4>
									</td>
									<td class="total-col">
										{% if d.product_id.high_price == d.my_price %}
										<h4 class="h6 mb-3 font-weight-normal mt-2 text-success"> You </h4>
										{% else %}
										<h4 class="h6 mb-3 font-weight-normal mt-2 text-danger">Others </h4>
										{% endif %}

									</td>
									<td class="total-col">
										{% if d.product_id.high_price == d.my_price %}
										<h4>{{d.product_id.user_id.email}}<br>{{d.product_id.user_id.mobile}}</h4>
										{% else %}
										<h4>not available </h4>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="total-cost">
					</div>
				</div>
			</div>
		</div>
</section>
<!-- cart section end -->


{% endblock %}